<div class="col-md-3">
  <!-- East China -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="panel-heading" role="tab" id="headingOne" style="background-color: #f45b5b;">
        <h4 class="panel-title" style="color: #FFFFFF;">  
          East China
        </h4>
      </div>    
    </div>
    <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" id="collapseOne">
      <div class="well">
        <p>
          <a ng-href="/#/expense/Jiangsu" ><b>Jiangsu</b></a><br>
          <a ng-href="/#/expense/Zhejiang"><b>Zhejiang</b></a><br>
          <a ng-href="/#/expense/Anhui"><b>Anhui</b></a><br>
          <a ng-href="/#/expense/Fujian"><b>Fujian</b></a><br>
          <a ng-href="/#/expense/Jiangxi"><b>Jiangxi</b></a><br>
          <a ng-href="/#/expense/Shandong"><b>Shandong</b></a><br>
          <a ng-href="/#/expense/Shanghai"><b>Shanghai</b></a><br>
        </p>  
      </div>
    </div>
  </div>

  <!-- South China -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <div class="panel-heading" role="tab" id="headingTwo" style="background-color: #8085e9;">
        <h4 class="panel-title">  
          South China
        </h4>
      </div>    
    </div>
    <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" id="collapseTwo">
      <div class="well">
        <p>
          <a ng-href="/#/expense/Guangdong" ><b>Guangdong</b></a><br>
          <a ng-href="/#/expense/Guangxi"><b>Guangxi</b></a><br>
          <a ng-href="/#/expense/Hainan"><b>Hainan</b></a><br>
        </p>  
      </div>
    </div>
  </div>

  <!-- North China -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
      <div class="panel-heading" role="tab" id="headingThree" style="background-color: #8d4654;">
        <h4 class="panel-title">  
          North China
        </h4>
      </div>    
    </div>
    <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" id="collapseThree">
      <div class="well">
        <p>
          <a ng-href="/#/expense/Hebei" ><b>Hebei</b></a><br>
          <a ng-href="/#/expense/Shaanxi"><b>Shaanxi</b></a><br>
          <a ng-href="/#/expense/Beijing"><b>Beijing</b></a><br>
          <a ng-href="/#/expense/Tianjing"><b>Tianjing</b></a><br>
          <a ng-href="/#/expense/Inner Mongol"><b>Inner Mongol</b></a><br>
        </p>  
      </div>
    </div>
  </div>

  <!-- Central China -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
      <div class="panel-heading" role="tab" id="headingFour" style="background-color: #7798BF;">
        <h4 class="panel-title">  
          Central China
        </h4>
      </div>    
    </div>
    <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" id="collapseFour">
      <div class="well">
        <p>
          <a ng-href="/#/expense/Hubei" ><b>Hubei</b></a><br>
          <a ng-href="/#/expense/Hunan"><b>Hunan</b></a><br>
          <a ng-href="/#/expense/Henan"><b>Henan</b></a><br>
        </p>  
      </div>
    </div>
  </div>

  <!-- North-East China -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
      <div class="panel-heading" role="tab" id="headingOne" style="background-color: #aaeeee;">
        <h4 class="panel-title">  
          North-East China
        </h4>
      </div>    
    </div>
    <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" id="collapseFive">
      <div class="well">
        <p>
          <a ng-href="/#/expense/Liaoning"><b>Liaoning</b></a><br>
          <a ng-href="/#/expense/Jilin"><b>Jilin</b></a><br>
          <a ng-href="/#/expense/Heilongjiang"><b>Heilongjiang</b></a><br>
        </p> 
      </div>
    </div>
  </div>  

  <!-- South-West China -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
      <div class="panel-heading" role="tab" id="headingSix" style="background-color: #ff0066;">
        <h4 class="panel-title">  
          South-West China
        </h4>
      </div>    
    </div>
    <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" id="collapseSix">
      <div class="well">
        <p>
          <a ng-href="/#/expense/Sichuan" ><b>Sichuan</b></a><br>
          <a ng-href="/#/expense/Yunnan"><b>Yunnan</b></a><br>
          <a ng-href="/#/expense/Guizhou"><b>Guizhou</b></a><br>
          <a ng-href="/#/expense/Chongqing"><b>Chongqing</b></a><br>
          <a ng-href="/#/expense/Xizang"><b>Xizang</b></a><br>
        </p> 
      </div>
    </div>
  </div>

  <!-- North-West China -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
      <div class="panel-heading" role="tab" id="headingSeven" style="background-color: #ff6600;">
        <h4 class="panel-title">  
          North-West China
        </h4>
      </div>    
    </div>
    <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" id="collapseSeven">
      <div class="well">
        <p>
          <a ng-href="/#/expense/Ningxia" ><b>Ningxia</b></a><br>
          <a ng-href="/#/expense/Xinjiang"><b>Xinjiang</b></a><br>
          <a ng-href="/#/expense/Qinghai"><b>Qinghai</b></a><br>
          <a ng-href="/#/expense/Shanxi"><b>Shanxi</b></a><br>
          <a ng-href="/#/expense/Gansu"><b>Gansu</b></a><br>
        </p> 
      </div>
    </div>
  </div>  
</div>  
