<div ng-controller="ExpenseAddCtrl">
  <div class="alert alert-info" ng-show="flash.getMessage()">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p>{{flash.getMessage()}}</p>
  </div>
</div>


<div id="introduction" style="background-color:rgba(255,255,255,0.6); border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); margin: 40px 0px 40px 0px; border-left: 10px solid black; border-right: 10px solid black;">
  <h2 style="padding-top: 30px; padding-bottom: 20px; text-align: center; font-family: Impact, Charcoal, sans-serif;">Introduction</h2>  
  <p class="lead" style="padding: 15px 20px 15px 40px">
    This website is called CrowdSLEC. It is used to crowdsourse data about people's living expenses in China. CrowdSLEC does statistics on people's living expenses in months. You are able to check detailed living expenses by choosing links of different areas. There are also a ranking of total expenses and some data visualization. Two different types of incentives are designed on this website. The first one is send you a voucher code to your mailing box after you post your living expenses data (actually use a random number to substitute). The second one is you are able to share this website to social network (twitter and facebook here). 
  </p>
  <p class="go" style="padding-top: 15px; padding-bottom: 30px; text-align: center;"><a class="btn btn-lg btn-danger" ng-href="#/expenses">Go<span class="glyphicon glyphicon-chevron-right"></span></a></p>  
</div>


